.jumbotron{
    height: 700px;
    display: flex;
    background-image: url('https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440');
    background-repeat: no-repeat;
    background-size: cover;
    &__img{
        width: 50px;
    }
    p{
        color: #fff;
        font-size: 22px;
    }
}