// container size
$containerNormal: 1200px;
$containerSmall: 800px;
$containerMedium: 1000px;
$containerBig: 1450px;
// color
$mainColor: #1473e6;
$mainColor400: #0d66d0;
$textColor: #2c2c2c;
// margin
@for $i from 1 through 5 {
    .mt-#{ 10 *$i } {
        margin-top: 10px * $i;
    }
    .mb-#{ 10 *$i } {
        margin-bottom: 10px * $i;
    }
}
// font size
$fontBig: 50px;
$fontMedium: 30px;
$fontNormal: 20px;
$fontSmall: 16px;